

<h1>候選人列表</h1>


<%= paginate @candidates, theme: 'twitter-bootstrap-4' %>
<% @candidates.each do |candidate|%>

  <li>
    <%= link_to '懇請賜票！！', vote_candidate_path(candidate.id), class: 'btn btn-md btn-warning', method:'put',data: { confirm: "R U SURE？", abd: 1234}%>
    (<%= candidate.vote_logs.size%>票)
    <%= link_to candidate.name, candidate_path(candidate.id) %>
    <%= link_to '編輯', edit_candidate_path(candidate.id), class: 'btn btn-md btn-success' %>
    <%= link_to '刪除', candidate_path(candidate.id), {class: 'btn btn-md btn-danger', method:'delete',
         data: { confirm: "請確認？", abd: 1234} }%>
  </li>
<% end %>

<%= link_to '新增候選人', new_candidate_path, class: 'btn btn-primary btn-lg'  %>


